// Imports
@use "partials/global" as *;

/* Header */
.header {
  &__hero {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3.75rem 5rem;
  }

  &__hero-button {
    margin-top: 1.25rem;

    @extend %button;

    &-background {
      @extend %button-background;
    }

    &-text {
      @extend %button-text;
    }
  }

  &__hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 22rem;
  }
}

/* Our Products */
.products {
  background-color: $lightgray;
  padding: 3.75rem 0;
  text-align: center;

  &__button {
    margin-top: 3.75rem;

    @extend %button;

    &-background {
      @extend %button-background;
    }

    &-text {
      @extend %button-text;
    }
  }

  &__card {
    align-items: center;
    background-color: $white;
    border-radius: 0.625rem;
    box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 25%);
    display: flex;
    flex-direction: column;
    height: 27.5rem;
    width: 20.625rem;
  }

  &__image {
    height: 17.5rem;
    flex-grow: 1;
    padding: 2.5rem 0;
  }

  &__info {
    align-items: center;
    align-self: stretch;
    background-color: $nitropink;
    border-radius: 0 0 0.625rem 0.625rem;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 1.25rem;
    text-align: left;
  }

  &__list {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 3.75rem;
  }

  &__price {
    color: $nitroblue;
    font-size: 2.0625rem;
    font-weight: 700;
  }

  &__quantity {
    color: $gray;
  }
}

/* Different */
.different {
  margin-top: 5rem;

  &__button {
    @extend %button;

    &-background {
      @extend %button-background;
    }

    &-text {
      @extend %button-text;
    }
  }

  &__container {
    align-items: center;
    gap: 17.5rem;
    justify-content: center;
  }

  &__container,
  &__content {
    display: flex;
  }

  &__content {
    flex-direction: column;
    gap: 2.5rem;
    width: 28rem;
  }

  &__icon {
    @extend %icon;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    height: 25rem;
    width: 25rem;

    @extend %button;

    &-background {
      background-image: url("../assets/images/cold-brew-background.png");
      background-size: cover;
      @extend %button-background;
    }

    &-border {
      border: $nitroblue 0.25rem solid;
      height: 100%;
      left: -1.25rem;
      position: absolute;
      top: -1.25rem;
      width: 100%;

      @extend %button-text;
    }

    &-image {
      align-items: center;
      border: none;
      display: flex;
      height: 100%;
      justify-content: center;
      left: -1.25rem;
      top: -1.25rem;

      &:active {
        left: -1.25rem;
        top: -1.25rem;
      }

      @keyframes rotateImage {
        to {
          rotate: 360deg;
        }
      }

      &:hover {
        animation: 2s infinite linear rotateImage;
      }

      @extend %button-text;
    }
  }
}

/* Discount */
.discount {
  margin: auto;
  padding: 10rem 0;
  width: 90%;

  &__text {
    @keyframes flash {
      from {
        background-color: $graphite;
      }
      to {
        background-color: $nitroblue;
      }
    }

    animation: 2.5s alternate infinite flash linear;
    background-color: $graphite;
    padding: 2.5rem 0;
    text-align: center;
  }

  &__text,
  &__bold {
    color: $white;
    font-size: 2.8125rem;
  }

  &__bold {
    font-weight: 700;
  }
}

/* Footer */
.footer {
  background-color: $nitropink;
  overflow: hidden;
  padding: 5rem 0;
  position: relative;

  &__background {
    opacity: 25%;
    overflow: hidden;
    position: absolute;
    width: 7.5rem;

    &--left {
      left: -2.5rem;
      top: 1.25rem;
    }

    &--right {
      right: -2.5rem;
      bottom: 1.25rem;
    }
  }

  &__bold {
    font-weight: 700;
  }

  &__container {
    display: flex;
    gap: 12.5rem;
    justify-content: center;
  }

  &__heading {
    margin-bottom: 1.25rem;
  }

  &__icon {
    @extend %icon;
  }
}
