/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

// Variables
$graphite: #393939;
$gray: #909090;
$lightgray: #f7f7f7;
$nitroblue: #5bacc3;
$nitropink: #fff0ed;
$white: #fff;

/* Resets */
* {
  background-color: none;
  border: none;
  box-sizing: border-box;
  color: $graphite;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans";
}

ul {
  list-style-type: none;
}

/* Globals */
%icon {
  width: 3.125rem;
}

%nav-link {
  font-size: 1.3125rem;
  text-transform: uppercase;
}

.container {
  margin: auto;
  max-width: 80rem;
}

h1,
h2 {
  font-size: 3.75rem;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h3 {
  font-size: 2.0625rem;
}

p {
  font-size: 1.125rem;
}

/* Header */
.header {
  background-color: $nitropink;

  &__brand {
    font-size: 3.75rem;
    font-weight: 300;
  }

  &__logo {
    @extend %icon;
  }

  &__nav-bar {
    align-items: baseline;
    justify-content: space-between;
    padding: 1.25rem;
  }

  &__nav-bar,
  &__nav-list {
    display: flex;
  }

  &__nav-link {
    @extend %nav-link;

    &--blue {
      color: $nitroblue;
    }
  }

  &__nav-list {
    gap: 3.75rem;
  }
}

/* Button */
%button {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 11.25rem;

  &-background {
    background-color: $nitroblue;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  &-text {
    @extend %nav-link;

    border: $graphite 0.125rem solid;
    color: $white;
    left: -0.3125rem;
    padding: 1.25rem;
    position: relative;
    top: -0.3125rem;
    z-index: 1;

    &:active {
      left: 0;
      top: 0;
    }
  }
}
